alpaca-py==0.43.4
annotated-types==0.7.0
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.16
llvmlite==0.44.0
msgpack==1.1.2
numba==0.61.2
numpy==2.2.6
pandas==3.0.3
pandas-ta==0.4.71b0
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.2
six==1.17.0
sseclient-py==1.9.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
websockets==16.0
pytest
